.tab-inner {
  margin: 25px;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.message {
  padding: 5px;
  background: #d9edf7;
  width: auto;
  display: inline-block;
  margin-bottom: 10px;
}